@model IEnumerable<Luncher.Web.Models.RestaurantResponse>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    @{
        var culture = new System.Globalization.CultureInfo("cs-CZ");
        var day = culture.DateTimeFormat.GetDayName(DateTime.Today.DayOfWeek);
        <h1 class="display-4">Dnes je @day</h1>
    }
</div>

<div>
    @foreach (var restaurant in Model)
    {
        <div class="@restaurant.Name">
            <h2 style="display: inline-block">@restaurant.Name</h2>
            <span>|   </span>
            <button class="vote-btn" style="display: inline-block;">Hlasuj</button>
            <span class="votes" style="display: inline-block;font-weight: bold;"></span>
            <br />

            @if (!restaurant.Soaps.Any() && !restaurant.Meals.Any())
            {
                <div>Žádné menu</div>
            }
            else
            {
                <h5>Polévky</h5>
                <ul>
                    @foreach (var soap in restaurant.Soaps)
                    {
                        <li>@soap.Name</li>
                    }
                </ul>
                <br />

                <h5>Hlavní</h5>
                <ul>
                    @foreach (var meal in restaurant.Meals)
                    {
                        <li>@meal.Name</li>
                    }
                </ul>
            }

            <hr />
        </div>
    }
</div>
